/* ----- SITE GENERAL ----- */ 

html, body { margin:0; background-image:url(../images/bg.png); color:rgb(221, 221, 221); font-size: 16px; line-height: 1.5rem; max-width: 100%; overflow-x: hidden; } 
h1, h2, h3 { font-family: 'Oswald', sans-serif; color:#E94057cc; font-size:2.25rem; } 
h1 { color:azure; } 
p { font-size:22px; font-family: 'Montserrat', sans-serif; letter-spacing:2px; text-align:justify; } 
strong { color:#E94057cc } 
mark { background-image: linear-gradient(to right, #F27121cc, #E94057cc, #8A2387cc); border-radius: 6px; padding: -1px 6px; } 

/* ----- SITE HEADER ----- */ 

nav { position: fixed; width: 100%; top:0; right: 0; left: 0; font-size: 22px; background-color: rgba(0, 0, 0, 0.200); } 
nav ul { display: flex; padding: 0; gap:20px; justify-content: flex-end; list-style-type: none; } 
nav ul li { display: inline-block; padding:5px; } 
nav ul li:last-child { margin-right: 40px; } 
nav ul li a { color:azure; text-decoration: none; font-family: 'Oswald', sans-serif; } 
nav ul li:hover a { color:#ac2f40cc; transition: all 0.3s; } 

header.site-header { height:100vh; width:100%; padding-top: 20px; background-image:url(../images/mountains.jpg); background-position:center; background-size:cover; } 
 header.site-header { display:flex; flex-flow:row; align-items:center; justify-content: center; width:100%; height:100vh; } 
 header.site-header div.text { max-width: 300px; background:linear-gradient(to right, #F27121cc, #E94057cc, #8A2387cc); padding:20px; border-radius: 20px; } 
 header.site-header img.logo { max-width: 600px; } 

/* ----- MAIN ----- */ 

section { height:100vh; } 
section header { display:flex; position:relative; width:100%; text-align:center; } 
section header h2 { width:100%; font-size:8.25rem; opacity:0.1; text-transform:uppercase; color:#6c757d; } 
section header span.backtext { position: absolute; width:100%; top:50%; font-size:2.25rem; font-weight:700; margin-bottom:0; margin-top:0;  } 

section.about div.content { display:flex; flex-flow:row; margin:auto; justify-content:center; } 
section.about div.content div.about-me-text { max-width: 60%; } 
section.about div.content div.contact { max-width: 40%; } 
  section.about div.content div.contact ul { list-style-type:none; font-size:22px; font-family: 'Montserrat', sans-serif; letter-spacing:2px; } 
    section.about div.content div.contact ul li { padding-bottom:20px; padding-top:20px; border-bottom: 1px solid rgba(250, 250, 250, 0.12); } 
      section.about div.content div.contact ul li span { font-weight:700; color:#E94057cc; } 